name: Release Unstable

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: true
        default: 'unstable'
  push:
    branches:
      - unstable

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build & Release

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x
      - name: Restore nuget packages
        run: dotnet restore Authelia-Auth/Authelia-Auth.csproj --locked-mode
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.8
      - name: Install JPRM
        run: python -m pip install jprm
      - name: Run JPRM
        run: python build_plugin.py --version=${GITHUB_REF#refs/*/}
      # Upload artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: authelia-authentication-plugin
          path: ./artifacts/authelia-authentication*.zip
